@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@1,500&display=swap');

.HBackground {
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    /* border: solid red; */
    z-index: 0;

}
.HBackground img {
    position: absolute;
    object-fit: cover;
    width: 95vw;
    height: 100vh;
    opacity: 0.5;
    /* border: solid red; */
}
.border{   
    padding-left: 40px;
    width: 100vw;
    height: 1100px;
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
}
.OuterBorder{
    /* border: solid red; */
    width: 40vw;
    height: 250px;
    z-index: 1;
}
.OuterBorder p1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 2vw;
    width: 21vw;
    height: 5vh;
    font-family: "DM Serif Display", serif;
    /* border: solid red; */
    color: rgb(241, 241, 241);
}
.OuterBorder h1{
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: justify;
    font-size: 5vw;
    width: 40vw;
    height: 23vh;
    /* border: solid red; */
    /* background-image: linear-gradient(to right, rgb(90, 90, 90) ,rgb(110, 110, 110) 5%,rgb(143, 143, 143) 95%,rgb(116, 116, 116)) ; */
    font-family: "DM Serif Display", serif;
    color: rgb(241, 241, 241);
    text-shadow: white;
}
.MiddleBorder{
    z-index: 1;
    /* border: solid red; */

}
.MiddleBorder h2{
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 2vw;
    width: 40vw;
    height: 5vh;
    /* border: solid rgb(189, 72, 72); */
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: rgb(233, 29, 29);
}
.MiddleBorder .p2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    /* bottom: 10px; */
    width: 40vw;
    height: 13vh;
    /* border: solid rgb(189, 72, 72); */
    color: rgb(235, 234, 234);
}