@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Oswald:wght@700&display=swap');.OuterBorder{
    width: 100vw;
    height: 1000px;
    display: flex;
    justify-content: center;
    /* border: solid red; */
    align-items: flex-start;
}
.OuterBorder h1{
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 5vw;
    top: 5;
    width: 100vw;
    height: 30vh;
    /* border: solid red; */
    background-image: linear-gradient(to right, rgb(90, 90, 90) ,rgb(110, 110, 110) 5%,rgb(143, 143, 143) 95%,rgb(116, 116, 116)) ;
    font-family: "DM Serif Display", serif;
    color: rgb(29, 29, 29);
    text-shadow: white;
}
